
body{
	margin: 0;
	padding: 0;
	background-size: cover;
}
.image{
	float: left;
	align-content: center;
	border-style: groove;
	border-size:5px; 
}
.logo{
	width: 20%;
	margin-right: 0;
	float: left;
	padding: 50px 0px;
	height: 5px;
}

.name {
		width: 80%;
	margin-right: 0;
	float: left;
	padding: 50px 0px;
	font-family:"Lucida Calligraphy";
}
h3  {text-align:center;
	font-size: 25px;
	margin: 0 auto;
	padding: 10px;

}
p{
	text-align: center;
	font-size: 20px;
}
h2 a{
		background: silver;
	border:1px solid teal;
	border-radius:3px;
	color:white;
	display: inline-block;
	margin: 5px;
	padding:14px;
	text-decoration: none;
}
h2 a:hover{background: white;
	border: 1px solid red;
	color:lime;}
input{ 
align-content: center; }
article{
	font-size: 30px;
	font-color:lime;
	background-color: blue;
	width: 30%;
	align-content: center;
	padding: 10px;
	margin: 10px;
}
.image img{
	padding: 2px;
	margin:2px;
}
.Menu a{
	background: teal;
	border:1px solid teal;
	border-radius:3px;
	color:white;
	display: inline-block;
	margin: 5px;
	padding:14px;
	text-decoration: none;

}
.Menu a:hover{
	background: white;
	border: 1px solid red;
	color:lime;
}
#footer{
	font-size: 25px;
	font-weight: bold;
	font-color:aqua;
}
footer{font-size: 18px;}