body{
	overflow: scroll;
	background-image:url(9.jpg);
	background-size: auto;
}
.Img img{
	margin:100px 100px;
	padding: 10px 200px;
	align-content: center;
	align-items: center;
	height: 700px;
	width: 700px;
	opacity: 0.75;
}
h2{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	color:aqua;
	background-color: gold;
}
body{
	margin: 50px;
	display: block;
}
