body{
	background-image: url("gateway.jpg");
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: cover;
}
.page{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-color:red;
}